<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>Find contacts at <a href="www.google.com">Rails Tutorial Help section</a>
  To get help on this sample see the <a href="www.google.com">Google!</a> RAWR RAWR LIKE A DUNGEON DRAGON!
</p>
