<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<h1>Help</h1>
<p>Find help at <a href="www.google.com">Rails Tutorial Help section</a>
  To get help on this sample see the <a href="www.google.com">Google!</a>
  </p>
</body>
<html>
